@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --success-color:#2ecc71;
    --error-color: #e74c3c;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #0d0e1f;
    font-family: 'Open Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: #ffff;
    border-radius:6px ;
    box-shadow: 0 30px 25px  rgb(0 0 0 / 40%);
    width: 400px;
}
h2{
    text-align: center;
    margin-bottom:10px;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    color:#777;
    display: block;
    margin-bottom: 7px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
   width: 100%;
   padding: 10px;
   font-size: 15px;
}
.form-control input:focus{
    outline: 0;
    border-color: rgb(8, 1, 1);
}
.form-control.success input{
    border-color: var(--success-color);
}
.form-control.error input{
    border-color: var(--error-color);
}
.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: o;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form button{
   cursor: pointer;
   width: 100%;
   border-radius: 4px;
   background-color: #3498db;
   color: #fff;
   border: 2px solid #3498db;
   padding: 10px;
   font-size: 15px;
   margin-top: 10px;
   display: block;

}